p {
    color: blue;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#next {
    display: none;
}

#start {
    display: inline-block;
}

#replay {
    display: none;
}

.game1 {
    text-align: center;
    background-image: url('export.png');
    background-size: cover;
}

.centred {
    position: fixed;
    top: 33%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}