p {
    color: blue;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#next {
    display: none;
}

#start {
    display: inline-block;
}

#replay {
    display: none;
}

.game1 {
    text-align: center;
}

button {}