div {
    margin-bottom: 10px;
}

body {
    text-align: center;
    background-image: url('export.png');
    background-size: cover;
}

a:any-link {
    color: navy;
}

.centred {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choice {
    display: inline-block;
}

#statement {
    white-space: pre;
}

.originally-hidden {
    display: none;
}

#text-input {
    margin-bottom: 10px;
}

#next {
    display: none;
}